In [1]:
from pyspark.sql import SparkSession
import pandas

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("Test") \
    .config('sprk.sql.session.timeZone', 'UTC') \
    .getOrCreate()

spark

Warning: Ignoring non-Spark config property: sprk.sql.session.timeZone
21/11/19 13:24:26 WARN Utils: Your hostname, Shanes-MacBook-Pro-2.local resolves to a loopback address: 127.0.0.1; using 192.168.1.149 instead (on interface en0)
21/11/19 13:24:26 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/11/19 13:24:28 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
# Read Data & Create View

# Method 1
spark.read.option("header", True).option("delimiter", ",").csv("./data/reCOVery/recovery-social-media-data.txt").createOrReplaceTempView("tweets")

# Method 2
# spark.sql("""
# CREATE OR REPLACE TEMPORARY VIEW tweets
# USING CSV
# OPTIONS (
#     path './data/full_dataset_clean.tsv',
#     header true,
#     delimiter '\t'
# )
# """)

In [4]:
spark.sql("""
SELECT *
FROM tweets
LIMIT 100
""").toPandas()

   news_id             tweet_id
0        0  1252387836239593472
1        0  1223121049325228034
2        0  1223121502838521861
3        0  1223141036354162689
4        0  1223148934538854400
..     ...                  ...
95       0  1222184504539975680
96       0  1222184407466799105
97       0  1222184314307252225
98       0  1222163772061581312
99       0  1222163936302129158

[100 rows x 2 columns]