In [1]:
from pyspark.sql import SparkSession
import pandas

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("Test") \
    .config('sprk.sql.session.timeZone', 'UTC') \
    .getOrCreate()

spark

Warning: Ignoring non-Spark config property: sprk.sql.session.timeZone
21/11/29 08:14:07 WARN Utils: Your hostname, Shanes-MacBook-Pro-2.local resolves to a loopback address: 127.0.0.1; using 192.168.1.149 instead (on interface en0)
21/11/29 08:14:07 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/11/29 08:14:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
# Read Data & Create View

# Method 1
spark.read.option("header", True).option("delimiter", ",").csv("./data/reCOVery/recovery-social-media-data.txt").createOrReplaceTempView("tweets")
# spark.read.option("header", True).option("delimiter", ",").csv("./data/reCOVery/recovery-social-media-data_refined-Results.csv").createOrReplaceTempView("tweets")

# Method 2
# spark.sql("""
# CREATE OR REPLACE TEMPORARY VIEW tweets
# USING CSV
# OPTIONS (
#     path './data/full_dataset_clean.tsv',
#     header true,
#     delimiter '\t'
# )
# """)

In [6]:
spark.sql("""
SELECT tweet_id
FROM tweets
""").toPandas()

                   tweet_id
0       1252387836239593472
1       1223121049325228034
2       1223121502838521861
3       1223141036354162689
4       1223148934538854400
...                     ...
140815  1263570423511494657
140816  1263570017158864898
140817  1263256788419387393
140818  1263586926595944453
140819  1264629985299648513

[140820 rows x 1 columns]